/*
 *
 * SLUB Kartenforum - Images
 * =========================================================
 * Styles for galleries and floating images inside
 * the content area
 *
 * Author: Thomas Jung <thomas@jung.digital>
 *
 */

// Basic image & video settings ----------------------------------------------------------------------------------------
img {
    max-width: 100%;
    height: auto;
}

svg video {
    position: relative;
    left: -1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure {
    line-height: 0;
    .no-touchevents .content & {
        a:before {
            display: none;
        }
    }
}

// TBD
