/**
 *
 * SLUB Kartenforum - Map styling
 * =========================================================
 * Additional styles for positioning and
 * assistive design
 *
 * Author: Thomas Jung <thomas@jung.digital>
 *
 */

#vkf-app-map {
    position: absolute;
    inset: 70px 0 40px 0;
    overflow: hidden;
    transition: $transition;
    @media screen and (min-width: $tabletViewportWidth) {
        top: 85px;
    }
    @media screen and (min-width: $tabletLandscapeViewportWidth) {
        .show-welcome & {
            top: 200px;
        }
    }
}

.content-main .welcome-container {
    position: fixed;
    inset: 70px 0 0 0;
    z-index: 1000;
    pointer-events: none;
    transition: $transition;

    .welcome-content {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        max-height: 0;
        opacity: 0;
        padding: 15px;
        color: white;
        text-align: center;
        box-shadow: $shadow;
        transition: $transition;
        background: rgba($secondary-color-dark, .9);
    }

    h2 {
        color: white;
        margin: 20px 0;
        font-weight: 300;
    }

    p, ul {
        margin: 20px 0;
    }

    a {
        color: white;
        text-decoration: underline;

        .no-touchevents & {
            &:hover {
                color: white;
                text-decoration: underline;
            }
        }
    }

    .frame-type-header.frame-layout-40 h2 { // The start button
        position: relative;
        margin: 30px 0 0 0;

        a {
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            line-height: 1;
            background: white;
            color: $secondary-color-dark;
            text-decoration: none;
            padding: 10px 20px;
            font-size: 22px;
            border-radius: 30px;
            display: block;
            box-shadow: $shadow;
            border: 1px solid $secondary-color-dark;

            &:before {
                position: absolute;
                inset: -5px;
                border: 1px solid white;
                content: " ";
                border-radius: 40px;
                z-index: auto;
            }

            &:after {
                position: absolute;
                bottom: -8px;
                left: 50%;
                margin-left: -8px;
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-top-color: $secondary-color-dark;
                border-bottom-width: 0;
                content: " ";
            }

            .no-touchevents & {
                transition: $transition;

                &:before {
                    background: transparent;
                    transform: none;
                    transform-origin: center center;
                }

                &:hover {
                    transform: translateX(-50%) scale(1.2);

                    &:before {
                        transform: scale(.5);
                        opacity: .5;
                    }
                }
            }
        }
    }

    .show-welcome & {
        pointer-events: auto;
        background: rgba(white, .7);
        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background: transparent;
            backdrop-filter: blur(3px);
        }

        .welcome-content {
            max-height: 500px;
            opacity: 1;
        }
    }

    @media screen and (min-width: $tabletViewportWidth) {
        inset: 85px 0 40px 0;
        .welcome-content {
            padding: 25px;
        }
        .frame-type-header.frame-layout-40 h2 {
            a {
                bottom: -40px;
            }
        }
    }
    @media screen and (min-width: $tabletLandscapeViewportWidth) {
        bottom: auto;
        height: 115px;
        background: transparent;
        backdrop-filter: none;

        .welcome-content {
            height: 115px;
            text-align: left;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 1.3;

            h2 {
                font-size: 18px;
                font-weight: 700;
                margin: 0 0 5px 0;
            }

            p, ul {
                margin: 5px 0;
            }

            .frame-type-header.frame-layout-40 h2 {
                margin: 0 0 0 20px;

                a {
                    position: relative;
                    inset: auto;
                    transform: none;

                    &:before {
                        opacity: .5;
                    }

                    &:after {
                        border-top-color: white;
                    }

                    &:hover {
                        transform: scale(1.1);

                        &:after {
                            bottom: -7px;
                        }
                    }
                }
            }

        }
    }

}
