/*
 *
 * SLUB Kartenforum - Helpers
 * =========================================================
 * Mixins and helper styles for assistive technologies
 * and recurring elements
 *
 * Author: Thomas Jung <thomas@jung.digital>
 *
 */

// Mixins --------------------------------------------------------------------------------------------------------------

@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text-overflow-with-line-break($nrLines: 3, $wordBreak: break-word) {
    word-break: $wordBreak;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: $nrLines;
    -webkit-line-clamp: $nrLines;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

@mixin text-hide() {
    font: normal 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

// Helpers -------------------------------------------------------------------------------------------------------------

.visually-hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
