/*
 *
 * SLUB Kartenforum - Variables
 * =========================================================
 * Value settings for colors, breakpoints and
 * font adaptions
 *
 * Author: Thomas Jung <thomas@jung.digital>
 * License: All rights reserved
 *
 */

// Viewports
$phoneLandscapeViewportWidth: 470px;
$tabletViewportWidth: 768px;
$tabletLandscapeViewportWidth: 992px;
$desktopViewportWidth: 1200px;
$largerViewportWidth: 1700px;

// Colors
$primary-color: rgb(255, 51, 51); // The very bright red
$primary-color-dark: darken($primary-color, 15%);
$secondary-color: rgb(0, 177, 158); // A light green
$secondary-color-dark: darken($secondary-color, 15%); // a darker tone of green above
$color-lightgrey: rgb(224, 224, 224); // very light grey
$color-midgrey: rgb(204, 204, 204); // light grey
$color-grey: rgb(102, 102, 102); // base grey

// Misc
$transition: all 0.25s ease-in-out;
$shadow: 0 2px 4px rgb(0 0 0 / 40%);
