/**
 *
 * SLUB Kartenforum Frontend Styling
 * =========================================================
 * The complete SCSS bindings for the TYPO3
 * frame components without the react.js elements
 *
 * Author: Thomas Jung <thomas@jung.digital>
 *
 */

// Helpers
@use "Helpers" as *;
@use "Variables" as *;

// Add some modules
@use "Modules/Header" as *;
@use "Modules/Navigation" as *;
@use "Modules/Map" as *;
@use "Modules/Footer" as *;
@use "Modules/Content" as *;

// Components
@use "Components/Normalize" as *;
@use "Components/Typography" as *;
@use "Components/Lightbox" as *;
@use "Components/Images" as *;
@use "Components/Accordion" as *;
@use "Components/Login" as*;

// The basic page structures
@use "Structure" as *;
