{namespace vk=Slub\SlubWebKartenforum\ViewHelpers}

<script>
    console.log("<f:format.raw>{settings.flexform.test}</f:format.raw>")

    // update settings from typo3 flexform parameters
    vk2.SettingsProvider.updateSettings({
        "API_SEARCH": "https://search-slub.pikobytes.de/vk20",
        "API_GEOREFERENCE_GET": "/?tx_slubwebkartenforum_georeference[controller]=Georef&tx_slubwebkartenforum_georeference[action]=get&type=9991",
        "API_GEOREFERENCE_TRANSFORMATION_BY_MAPID": "/?tx_slubwebkartenforum_georeference[controller]=Georef&tx_slubwebkartenforum_georeference[action]=getTransformationByMapId&type=9991",
        "NOMINATIM_URL": "https://kartenforum.slub-dresden.de/nominatim/",
        "OSM_URLS": [
            "https://basemaps-1.pikobytes.de/styles/maptiler-basic-v2/{z}/{x}/{y}.png",
            "https://basemaps-2.pikobytes.de/styles/maptiler-basic-v2/{z}/{x}/{y}.png",
            "https://basemaps-3.pikobytes.de/styles/maptiler-basic-v2/{z}/{x}/{y}.png"
        ],
    });
</script>

<!-- language dictory must be before app initialize data -->
<f:render partial="Language" />

<h1>{settings.flexform.test}</h1>

<!-- Load the georeferencer application -->
<div id="vk-app-georeference"></div>
<script>
    // render Application
    if(vk2 !== undefined){
        vk2.renderGeoreferenceApp(
            document.getElementById("vk-app-georeference")
        );
    }
</script>

<!-- footermust be before app initialize data -->
<f:render partial="Footer" arguments="{_all}" />

<f:if condition="{settings.matomo.siteId}>0">
    <f:render section="Matomo" partial="Matomo" arguments="{_all}" />
</f:if>
