{namespace vk=Slub\SlubWebKartenforum\ViewHelpers}
<f:layout name="Map" />

<f:section name="Main">
    <div class="container main-page content-container">
        <div id="vk2MapPanel" class="vk2MapPanel">
            <!-- map container -->
            <div id="mapdiv" class="olMap" tabindex="0"></div>
            <!-- /end map container -->

            <!-- user header -->
            <div class="user-header">
                <!-- user menu -->
                <ul class="nav nav-pills vk2-navbar-user" id="vk2-navbar-user">
                        <f:security.ifAuthenticated>
                            <f:then>
                                <li class="dropdown user-dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span>
                                        <f:if condition="{vk:username(field:'name')} == ''">
                                            <f:then>
                                                <vk:username field="username" />
                                            </f:then>
                                            <f:else>
                                                <vk:username field="name" />
                                            </f:else>
                                        </f:if>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <f:link.page pageUid="{settings.georefhistoryPage}" data="{classes: 'login'}" class="vk2-modal-anchor" title="{f:translate(key:'label.georefhistorypage', extensionName:'slubWebKartenforum')}">
                                                <f:translate key="label.georefhistorypage" extensionName="slubWebKartenforum" />
                                                <b class="caret"></b>
                                            </f:link.page>
                                        </li>
                                        <li>
                                            <f:link.page pageUid="{settings.georefchoosePage}" data="{classes: 'login'}" class="vk2-modal-anchor" title="{f:translate(key:'label.georefchoosepage', extensionName:'slubWebKartenforum')}">
                                                <f:translate key="label.georefchoosepage" extensionName="slubWebKartenforum" />
                                                <b class="caret"></b>
                                            </f:link.page>
                                        </li>
                                        <f:security.ifHasRole role="vk2-admin">
                                            <li class="divider"></li>
                                            <!-- admin menu -->
                                            <li>
                                                <f:link.page target="_blank" pageUid="{settings.evaluationPage}" data="{classes: 'login'}" class="vk2-modal-anchor" title="{f:translate(key:'label.evaluationpage', extensionName:'slubWebKartenforum')}">
                                                    <f:translate key="label.evaluationpage" extensionName="slubWebKartenforum" />
                                                    <b class="caret"></b>
                                                </f:link.page>
                                            </li>
                                            <!-- admin menu end -->
                                        </f:security.ifHasRole>
                                        <li class="divider"></li>
                                        <li>
                                            <f:link.page pageUid="{settings.loginPage}" data="{classes: 'logout'}" class="vk2-modal-anchor" title="{f:translate(key:'label.logout', extensionName:'slubWebKartenforum')}">
                                                <f:translate key="label.logout" extensionName="slubWebKartenforum" />
                                                <b class="caret"></b>
                                            </f:link.page>
                                        </li>
                                    </ul>
                                </li>
                            </f:then>
                            <f:else>
                                <li>
                                <f:link.page pageUid="{settings.loginPage}" data="{classes: 'login'}" class="vk2-modal-anchor" title="{f:translate(key:'label.login', extensionName:'slubWebKartenforum')}">
                                    <f:translate key="label.login" extensionName="slubWebKartenforum" />
                                    <b class="caret"></b>
                                </f:link.page>
                            </li>
                            </f:else>
                        </f:security.ifAuthenticated>
                </ul>

                <!-- language switcher -->
                <f:render section="LanguageSwitch" partial="LanguageSwitch" arguments="{_all}" />

                <!-- switcher to 2.5d mode -->
                <ul class="switch-view-mode mode-2d">
                    <li>
                        <a title="3D" href="/vkviewer/main/3d/">
                            3D
                        </a>
                    </li>
                </ul>

            </div>
            <!-- user header end -->

            <!-- spatial search div -->
            <div class="spatialsearch-container" id="spatialsearch-container">

                <!-- navbar -->
                <div class="vk2HeaderNavBar" role="navigation">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="vk2-navbar-header">
                        <a class="navbar-brand" href="#">Virtuelles Kartenforum 2.0</a>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <ul class="nav nav-pills">
                            <li class="dropdown info-dropdown"><a href="#"
                                                                    class="dropdown-toggle" data-toggle="dropdown"
                                                                    title="Informationen">Informationen<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <f:render partial="Navigation/Elements/Item" arguments="{_all}" />
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end spatial search -->
            </div>

            <!-- Footer panel -->
            <div class="vk2FooterPanel">
                <div id="vk2Footer" class="vk2Footer">
                    <div class="footerContainer">
                        <div class="leftside">
                            <ul class="footerList">
                                <li class="listelement thick leftborder">
                                    Virtuelles Kartenforum 2.0
                                </li>
                                <li class="listelement">
                                    ein Projekt der SLUB und der Universität Rostock
                                </li>
                            </ul>
                        </div>
                        <div class="rightside">
                            <ul class="footerList">
                                <f:render partial="Navigation/Elements/Item" arguments="{_all}" />
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <f:link.page pageUid="{settings.welcomePage}" data="{classes:'welcomeBox'}" class="vk2-modal-anchor" id="welcome-page-link"></f:link.page>
        </div>
    </div>

    <f:render partial="Language" />

    <!-- checks if the vk2.app.PresentationApp / vk2.utils module is already loaded -->
    <script>
    if (window['vk2'] === undefined || window['vk2']['utils'] === undefined || window['vk2']['app'] === undefined) {
        goog.require('vk2.app.PresentationApp');
        goog.require('vk2.utils');
    };
    </script>

    <!-- load application specific code -->
    <script>
        // set the cookie for proper working of the javascript client code
        vk2.utils.setCookie('vk2-auth', '');

        var app = new vk2.app.PresentationApp({
            'authenticate': false,
            'modalAnchorClassName':'vk2-modal-anchor',
            'mapContainerId':'mapdiv',
            'spatialsearchContainerId':'spatialsearch-container'
        });
    </script>

</f:section>
