<table class="table" id="ranking-table">
    <thead>
        <tr>
            <th><f:translate id="georef.rank" /></th>
            <th><f:translate id="georef.username" /></th>
            <th><f:translate id="georef.new" /></th>
            <th><f:translate id="georef.update" /></th>
            <th><f:translate id="georef.points" /></th>
        </tr>
    </thead>
    <tbody>
        <f:for each="{ranking.pointoverview}" as="row" iteration="iterator">
            <tr>
                <td>
                    {iterator.cycle}
                </td>
                <td>
                    {row.userid}
                </td>
                <td>
                    {row.new}
                </td>
                <td>
                    {row.update}
                </td>
                <td>
                    {row.points}
                </td>
            </tr>
        </f:for>
    </tbody>
</table>

<p><f:translate id="georef.timestamp" />: <f:format.date format="d.m.Y H:i:s" >NOW</f:format.date></p>

<div id="container"></div>
<script>
    renderRanking("container");
</script>
