        <!-- Footer panel -->
        <div class="vk2FooterPanel">
            <div id="vk2Footer" class="vk2Footer">
                <div class="footerContainer">
                    <div class="leftside">
                        <ul class="footerList">
                            <li class="listelement thick leftborder">
                                Virtuelles Kartenforum 2.0
                            </li>
                            <li class="listelement">
                                ein Projekt der SLUB und der Universität Rostock
                            </li>
                        </ul>
                    </div>
                    <div class="rightside">
                        <ul class="footerList">
                            <f:render partial="Item" arguments="{_all}" />
                        </ul>
                    </div>
                </div>
            </div>
        </div>
