<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<footer class="site-footer">
    <f:if condition="{metanavigation}">
        <nav aria-label="Footer Navigation" class="footer-navigation">
            <ul>
                <f:for each="{metanavigation}" as="item">
                    <li>
                        <a href="{item.link}" target="{item.target}" title="{item.data.title}{f:if(condition:item.data.subtitle, then:': {item.data.subtitle}')}" class="header-navigation-link">
                            {item.title}
                        </a>
                    </li>
                </f:for>
            </ul>
        </nav>
    </f:if>
    <div class="attribution">
        <p><strong>Virtuelles Kartenforum</strong>
            <span class="full-attribution">ein Projekt der SLUB Dresden und der Universität Rostock</span>
        </p>
    </div>
    <div class="copyright">
        <p>
            &copy; SLUB Dresden
            <f:format.date format="Y">NOW</f:format.date>
        </p>
    </div>
</footer>

</html>
