<f:if condition="{menuStatic}">
    <f:for each="{menuStatic}" as="item">
        <f:if condition="{item.current}">
            <f:then>
                <li class="listelement{f:if(condition:item.current, then:' current')}">
                    <span>{item.title}</span>
            </f:then>
            <f:else if="{item.active}">
                <li class="listelement{f:if(condition:item.active, then:' active')}">
                    <f:render partial="Link" arguments="{item: item}"/>
            </f:else>
            <f:else>
                <li class="listelement">
                    <f:render partial="Link" arguments="{item: item}"/>
            </f:else>
        </f:if>
    </f:for>
</f:if>
