<script>
    var lang_dictionary = {
        "control-imagemanipulation-open": "<f:translate key='global.map.control-imagemanipulation-open' extensionName='SlubWebKartenforum' />",
        "control-imagemanipulation-saturation": "<f:translate key='global.map.control-imagemanipulation-saturation' extensionName='SlubWebKartenforum' />",
        "control-imagemanipulation-contrast": "<f:translate key='global.map.control-imagemanipulation-contrast' extensionName='SlubWebKartenforum' />",
        "control-imagemanipulation-brightness": "<f:translate key='global.map.control-imagemanipulation-brightness' extensionName='SlubWebKartenforum' />",
        "control-imagemanipulation-reset": "<f:translate key='global.map.control-imagemanipulation-reset' extensionName='SlubWebKartenforum' />",
        "control-layerspy-title": "<f:translate key='global.map.control-layerspy.title' extensionName='SlubWebKartenforum' />",
        "control-zoom-in": "<f:translate key='global.map.control-zoom.in' extensionName='SlubWebKartenforum' />",
        "control-zoom-out": "<f:translate key='global.map.control-zoom.out' extensionName='SlubWebKartenforum' />",
        "control-zoomtoextent-title": "<f:translate key='global.map.control-zoomtoextent.title' extensionName='SlubWebKartenforum' />",
        "control-fullscreen-title": "<f:translate key='global.map.control-fullscreen.title' extensionName='SlubWebKartenforum' />",
        "control-locateme-title": "<f:translate key='global.map.control-locateme.title' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-title": "<f:translate key='global.map.control-basemapselector.addwms-title' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-input-label": "<f:translate key='global.map.control-basemapselector.addwms-input-label' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-input-description": "<f:translate key='global.map.control-basemapselector.addwms-input-description' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-select-label": "<f:translate key='global.map.control-basemapselector.addwms-select-label' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-select-description": "<f:translate key='global.map.control-basemapselector.addwms-select-description' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-btn-load-capabilities": "<f:translate key='global.map.control-basemapselector.addwms-btn-load-capabilities' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-btn-canel": "<f:translate key='global.map.control-basemapselector.addwms-btn-cancel' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-btn-submit": "<f:translate key='global.map.control-basemapselector.addwms-btn-submit' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-label": "<f:translate key='global.map.control-basemapselector.label' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-btn-addwms": "<f:translate key='global.map.control-basemapselector.btn-addwms' extensionName='SlubWebKartenforum' />",
        "gazetteer-placeholder": "<f:translate key='client.gazetteer.placeholder' extensionName='SlubWebKartenforum' />",
        "gazetteer-submit": "<f:translate key='client.gazetteer.submit' extensionName='SlubWebKartenforum' />",
    };

    vk2.SettingsProvider.appendSettings({dictionary: lang_dictionary});
</script>
