<script>
    var lang_dictionary = {
        // attribution
        "control-attribution-basemap-label":
            "<f:translate key='global.map.control-attribution.basemapLabel' extensionName='SlubWebKartenforum' />",
        "control-attribution-terrain-label":
            "<f:translate key='global.map.control-attribution.terrainLabel' extensionName='SlubWebKartenforum' />",

        // basemap selector
        "control-basemapselector-open":
            "<f:translate key='global.map.control-basemapselector.label' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-title":
            "<f:translate key='global.map.control-basemapselector.addwms-title' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-input-label":
            "<f:translate key='global.map.control-basemapselector.addwms-input-label' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-input-description":
            "<f:translate key='global.map.control-basemapselector.addwms-input-description' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-select-label":
            "<f:translate key='global.map.control-basemapselector.addwms-select-label' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-select-description":
            "<f:translate key='global.map.control-basemapselector.addwms-select-description' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-btn-load-capabilities":
            "<f:translate key='global.map.control-basemapselector.addwms-btn-load-capabilities' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-btn-canel":
            "<f:translate key='global.map.control-basemapselector.addwms-btn-cancel' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-addwms-btn-submit":
            "<f:translate key='global.map.control-basemapselector.addwms-btn-submit' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-label":
            "<f:translate key='global.map.control-basemapselector.label' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-btn-addwms":
            "<f:translate key='global.map.control-basemapselector.btn-addwms' extensionName='SlubWebKartenforum' />",
        "control-basemapselector-error-initializiation":
            "<f:translate key='global.map.control-basemapselector.errorInitialization' extensionName='SlubWebKartenforum' />",
        "dialog.add-wms.error.invalid-url":
            "<f:translate key='global.map.control-basemapselector.error-invalid-url' extensionName='SlubWebKartenforum' />",

        // fullscreen
        "control-fullscreen-Enter":
            "<f:translate key='global.map.control-fullscreen.Enter' extensionName='SlubWebKartenforum' />",
        "control-fullscreen-Exit":
            "<f:translate key='global.map.control-fullscreen.Exit' extensionName='SlubWebKartenforum' />",

        // image manipulation
        "control-imagemanipulation-open":
            "<f:translate key='global.map.control-imagemanipulation-open' extensionName='SlubWebKartenforum' />",
        "control-imagemanipulation-saturation":
            "<f:translate key='global.map.control-imagemanipulation-saturation' extensionName='SlubWebKartenforum' />",
        "control-imagemanipulation-contrast":
            "<f:translate key='global.map.control-imagemanipulation-contrast' extensionName='SlubWebKartenforum' />",
        "control-imagemanipulation-brightness":
            "<f:translate key='global.map.control-imagemanipulation-brightness' extensionName='SlubWebKartenforum' />",
        "control-imagemanipulation-reset":
            "<f:translate key='global.map.control-imagemanipulation-reset' extensionName='SlubWebKartenforum' />",

        // layerspy
        "control-layerspy-title":
            "<f:translate key='global.map.control-layerspy.title' extensionName='SlubWebKartenforum' />",
        "control-layerspy-radius-tooltip":
            "<f:translate key='global.map.control-layerspy.radiusTooltip' extensionName='SlubWebKartenforum' />",

        // locate me
        "control-locateme-title":
            "<f:translate key='global.map.control-locateme.title' extensionName='SlubWebKartenforum' />",
        // location not available
        "control-locateme-location-not-available":
            "<f:translate key='global.map.control-locateme.LocationNotAvailable' extensionName='SlubWebKartenforum' />",

        // mouse position
        "control-mouseposition-title":
            "<f:translate key='global.map.control-mouseposition-title' extensionName='SlubWebKartenforum' />",
        "control-mouseposition-save-helper":
            "<f:translate key='global.map.control-save-mouseposition-helper' extensionName='SlubWebKartenforum' />",
        "control-mouseposition-saved-label":
            "<f:translate key='global.map.control-saved-mouseposition-label' extensionName='SlubWebKartenforum' />",
        "control-mouseposition-button-title":
            "<f:translate key='global.map.control-save-mouseposition-button-title' extensionName='SlubWebKartenforum' />",

        //restore default view
        "control-restoredefaultview-title":
            "<f:translate key='global.map.control-restoredefaultview-title' extensionName='SlubWebKartenforum' />",

        // toggleviewmode control
        "control-toggleviewmode-title":
            "<f:translate key='global.map.control-toggleviewmode.title' extensionName='SlubWebKartenforum' />",
        "control-toggleviewmode-zoomin":
            "<f:translate key='global.map.control-toggleviewmode.zoomin' extensionName='SlubWebKartenforum' />",

        // zoom controls
        "control-zoom-in":
            "<f:translate key='global.map.control-zoom.in' extensionName='SlubWebKartenforum' />",
        "control-zoom-out":
            "<f:translate key='global.map.control-zoom.out' extensionName='SlubWebKartenforum' />",

        // rotation controls
        "control-rotate":
            "<f:translate key='global.map.control-rotate.title' extensionName='SlubWebKartenforum' />",

        // zoom to extent
        "control-zoomtoextent-title":
            "<f:translate key='global.map.control-zoomtoextent.title' extensionName='SlubWebKartenforum' />",

        // permalink
        "control-permalink-open":
            "<f:translate key='global.map.control-permalink.title' extensionName='SlubWebKartenforum' />",
        "control-permalink-title-permalink":
            "<f:translate key='global.map.control-permalink.permalinkTitle' extensionName='SlubWebKartenforum' />",
        "control-permalink-title-map-view":
            "<f:translate key='global.map.control-permalink.mapViewTitle' extensionName='SlubWebKartenforum' />",
        "control-permalink-input-mapview-placeholder":
            "<f:translate key='global.map.control-permalink.inputMapViewPlaceholder' extensionName='SlubWebKartenforum' />",
        "control-permalink-exporter-copy":
            "<f:translate key='global.map.control-permalink.exporterCopy' extensionName='SlubWebKartenforum' />",
        "control-permalink-exporter-copy-title":
            "<f:translate key='global.map.control-permalink.exporterCopyTitle' extensionName='SlubWebKartenforum' />",
        "control-permalink-exporter-permalink-description":
            "<f:translate key='global.map.control-permalink.permalinkDescription' extensionName='SlubWebKartenforum' />",
        "control-permalink-exporter-mapview-description":
            "<f:translate key='global.map.control-permalink.mapViewDescription' extensionName='SlubWebKartenforum' />",

        // placename search
        "placenamesearch-placeholder":
            "<f:translate key='plugin.map.placenamesearch.placeholder' extensionName='SlubWebKartenforum' />",
        "placenamesearch-submit":
            "<f:translate key='plugin.map.placenamesearch.submit' extensionName='SlubWebKartenforum' />",
        "placenamesearch-unknown-placename":
            "<f:translate key='plugin.map.placenamesearch.unknownPlacename' extensionName='SlubWebKartenforum' />",
    };

    if (typeof vk2 !== "undefined")
        vk2.SettingsProvider.appendSettings({ dictionary: lang_dictionary });
</script>
