<f:form action="signup" target="vk2-modal" object="{user}" name="user" class="tx-felogin-pi1" additionalAttributes="{role:'form', target: '_top'}">

	<f:form.validationResults>
		<f:if condition="{validationResults.flattenedErrors}">
			<ul class="alert alert-danger" role="alert">
				<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
					<f:for each="{errors}" as="singleError">
						<li>
							<f:translate key="validationerror_{singleError.code}" />
						</li>
					</f:for>
				</f:for>
			</ul>
		</f:if>
	</f:form.validationResults>

	<f:if condition="{errors}">
		<ul class="alert alert-danger" role="alert">
			<f:for each="{errors}" as="singleError">
				<li>
					{singleError}
				</li>
			</f:for>
		</ul>
	</f:if>

	<div class="form-group {f:if(condition:'{error.username}', then:'alert alert-danger')}">
		<label for="loginNewUsername" class="control-label">
			<f:translate key="login.username" />
		</label>
		<f:form.textfield type="text" name="username" class="form-control"
			id="loginNewUsername" property="username"
			required="required"
			placeholder="{f:translate(key:'login.username')} *" />
	</div>

	<div class="form-group">
		<label for="loginNewPassword" class="control-label">
			<f:translate key="login.password" />
		</label>

		<f:form.textfield type="password" name="password"
			class="form-control" id="loginNewPassword" property="password"
			required="required"
			placeholder="{f:translate(key:'login.password')} *" />

	</div>

	<div class="form-group double-input-field">
		<label for="loginNewVorname" class="control-label">
			<f:translate key="login.firstname" /> & <f:translate key="login.lastname" />
		</label>

		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<f:form.textfield type="text" name="vorname" class="form-control"
					id="loginNewVorname" property="firstName"
					placeholder="{f:translate(key:'login.firstname')}" />
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<f:form.textfield type="text" name="nachname" class="form-control right"
					id="loginNewNachname" property="lastName"
					placeholder="{f:translate(key:'login.lastname')}" />
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="loginNewEmail" class="control-label">
			<f:translate key="login.email" />
		</label>
		<f:form.textfield type="email" name="email" property="email"
			class="form-control" id="loginNewEmail"
			required="required"
			placeholder="{f:translate(key:'login.email')} *" />
	</div>

	<div class="form-group"><f:translate key="label.requiredFields" extensionName="slubWebKartenforum" /></div>

	<f:form.submit value="{f:translate(key:'login.signup')}" class="btn btn-primary" />

</f:form>

<f:link.page pageUid="{settings.loginPage}" data="{classes: 'login'}" class="vk2-modal-anchor" title="{f:translate(key:'label.login', extensionName:'slubWebKartenforum')}">
	<f:translate key="label.login" extensionName="slubWebKartenforum" />
</f:link.page>
