<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vk="http://typo3.org/ns/Slub/SlubWebKartenforum/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<input type="hidden" value="{basemaps}" id="setting-basemaps"/>
<input type="hidden" value="{urlNominatim}" id="setting-urlNominatim"/>
<input type="hidden" value="{urlSearch}" id="setting-urlSearch"/>
<input type="hidden" value="{georefApi}" id="setting-georefApi"/>

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Contrib/Css/ol.css', extensionName: 'slub_web_kartenforum')}"/>
    <link rel="stylesheet"
          href="{f:uri.resource(path: 'Build/plugin-admin.css', extensionName: 'slub_web_kartenforum')}"/>
    <script type="text/javascript"
            src="{f:uri.resource(path: 'Build/plugin-admin.js', extensionName: 'slub_web_kartenforum')}"></script>
</f:section>

<!-- We have to set the language code extra, because if not the fluid template engine will destroy our osm_urls pattern -->
<f:section name="FooterAssets">
    <script type="text/javascript">
        vk2.SettingsProvider.appendSettings({
            "LANGUAGE_CODE": "<f:translate key='global.language_code' extensionName='SlubWebKartenforum' />",
        });
    </script>

    <script type="text/javascript">
        vk2.SettingsProvider.appendSettings({
            "API_SEARCH": document.getElementById("setting-urlSearch").value,
            "API_GEOREFERENCE_BASEURL": document.getElementById("setting-georefApi").value,
            "BASEMAPS": JSON.parse(document.getElementById("setting-basemaps").value),
            "LINK_TO_FAQ": "/faq",
            "LINK_TO_GEOREFERENCE": "/georeferenzierung",
            "LINK_TO_MAIN": "/",
            "NOMINATIM_URL": document.getElementById("setting-urlNominatim").value,
            "USERNAME": "<vk:username field='username'/>",
        });

        vk2.SettingsProvider.appendSettings({
            dictionary: Object.assign(
                {},
                vk2.SettingsProvider.getSettings().dictionary,
                {}
            )
        });

        // render Application
        if (vk2 !== undefined) {
            vk2.renderAdminApp(
                document.getElementById("vkf-app-container")
            );
        }
    </script>

</f:section>

<div id="vkf-app-container">
</div>

</html>
