<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:vk="http://typo3.org/ns/Slub/SlubWebKartenforum/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Contrib/Css/ol.css', extensionName: 'slub_web_kartenforum')}"/>
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/plugin-georeference.css', extensionName: 'slub_web_kartenforum')}"/>
    <script type="text/javascript" src="{f:uri.resource(path: 'Contrib/JavaScript/proj4-2.2.1.js', extensionName: 'slub_web_kartenforum')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/plugin-georeference.js', extensionName: 'slub_web_kartenforum')}"></script>
</f:section>

<f:section name="FooterAssets">
    <script type="text/javascript">
        // update settings from typo3 flexform parameters
        vk2.SettingsProvider.updateSettings({
            "API_SEARCH": "https://search-slub.pikobytes.de/vk20",
            "API_GEOREFERENCE_GET": "/?tx_slubwebkartenforum_georeference[controller]=Georef&tx_slubwebkartenforum_georeference[action]=get&type=9991",
            "API_GEOREFERENCE_TRANSFORMATION_BY_MAPID": "/?tx_slubwebkartenforum_georeference[controller]=Georef&tx_slubwebkartenforum_georeference[action]=getTransformationByMapId&type=9991",
            "API_GEOREFERENCE_TRANSFORMATION_CONFIRM": "/?tx_slubwebkartenforum_georeference[controller]=Georef&tx_slubwebkartenforum_georeference[action]=postTransformationByMapId&type=9991",
            "API_GEOREFERENCE_TRANSFORMATION_TRY": "/?tx_slubwebkartenforum_georeference[controller]=Georef&tx_slubwebkartenforum_georeference[action]=postTransformationTry&type=9991",
            "NOMINATIM_URL": "https://kartenforum.slub-dresden.de/nominatim/",
            "OSM_URLS": [
                "https://basemaps-1.pikobytes.de/styles/maptiler-basic-v2/{z}/{x}/{y}.png",
                "https://basemaps-2.pikobytes.de/styles/maptiler-basic-v2/{z}/{x}/{y}.png",
                "https://basemaps-3.pikobytes.de/styles/maptiler-basic-v2/{z}/{x}/{y}.png"
            ],
        });

        vk2.SettingsProvider.appendSettings({
            dictionary: {
                "layerspy-title": "<f:translate key='client.layerspy.title' extensionName='SlubWebKartenforum' />",
                "georef-search-field": "<f:translate key='client.georeferencechoose.searchField' extensionName='SlubWebKartenforum' />",
                "georef-choose-goToGeoreference": "<f:translate key='client.georeferencechoose.goToGeoreference' extensionName='SlubWebKartenforum' />",
                "georef-movemap": "<f:translate key='client.georeference.moveMap' extensionName='SlubWebKartenforum' />",
                "georef-setgcp": "<f:translate key='client.georeference.setGcp' extensionName='SlubWebKartenforum' />",
                "georef-editgcp": "<f:translate key='client.georeference.editGcp' extensionName='SlubWebKartenforum' />",
                "georef-movegcp": "<f:translate key='client.georeference.moveGcp' extensionName='SlubWebKartenforum' />",
                "georef-delgcp": "<f:translate key='client.georeference.deleteGcp' extensionName='SlubWebKartenforum' />",
                "georef-drawclip": "<f:translate key='client.georeference.drawClip' extensionName='SlubWebKartenforum' />",
                "georef-validate": "<f:translate key='client.georeference.validate' extensionName='SlubWebKartenforum' />",
                "georef-confirm": "<f:translate key='client.georeference.confirm' extensionName='SlubWebKartenforum' />",
                "georef-confirm-clip-title": "<f:translate key='client.georeference.confirmWithoutClipTitle' extensionName='SlubWebKartenforum' />",
                "georef-confirm-clip-msg": "<f:translate key='client.georeference.confirmWithoutClipMsg' extensionName='SlubWebKartenforum' />",
                "georef-confirm-warn-gcp": "<f:translate key='client.georeference.warnMissingGCPs' extensionName='SlubWebKartenforum' />",
                "georef-confirm-warn-clippolygon": "<f:translate key='client.georeference.warnWrongClipPolygon' extensionName='SlubWebKartenforum' />",
                "gazetteer-placeholder": "<f:translate key='client.gazetteer.placeholder' extensionName='SlubWebKartenforum' />",
                "gazetteer-submit": "<f:translate key='client.gazetteer.submit' extensionName='SlubWebKartenforum' />",
            }
        });

        // render Application
        if (vk2 !== undefined) {
            vk2.renderGeoreferenceApp(
                document.getElementById("vkf-app-georeference")
            );
        }
    </script>

    <script type="text/javascript">
        // We call the new ViewHelper just with a custom HTML tag inside the JS.
        console.log("The year of publication of the comic: <vk:georeference requestedValue='year'/>");
    </script>


</f:section>

<div id="vkf-app-georeference">
</div>

<f:comment><!-- At this point we call the ViewHelper again with another requested value and the flexform based variables --></f:comment>
<pre style="position:absolute;top:5px;right:5px;left:5px;padding:15px;z-index:1000;background-color:rgba(0,0,0,0.85);color:white">
    the external comic image: <vk:georeference requestedValue="img"/>
    the backend (flexform): {georefBackend}
    the extension settings: {georefAuthUser} / {georefAuthPassword}
</pre>

</html>
