<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
    lang="en"
>
<input type="hidden" value="{basemaps}" id="setting-basemaps"/>
<input type="hidden" value="{mapView}" id="setting-mapView"/>
<input type="hidden" value="{urlNominatim}" id="setting-urlNominatim"/>
<input type="hidden" value="{urlSearch}" id="setting-urlSearch"/>
<input type="hidden" value="{terrain}" id="setting-terrain"/>
<input type="hidden" value="{georefApi}" id="setting-georefApi" />
<input type="hidden"
       value="{f:uri.resource(path: 'EXT:slub_web_kartenforum/Resources/Public/Images/layer_default.png')}"
       id="settings-layer-fallback"/>
<input type="hidden"
       value="{f:uri.resource(path: 'EXT:slub_web_kartenforum/Resources/Public/Icons/ReactIconSprite.svg')}"
       id="settings-icon-sprite"/>
<input type="hidden"
       value="{f:uri.resource(path: 'EXT:slub_web_kartenforum/Resources/Public/Images/not-found.png')}"
       id="settings-fallback-not-found"/>
<input type="hidden"
       value="{f:uri.resource(path: 'EXT:slub_web_kartenforum/Resources/Public/Images/marker.png')}"
       id="settings-marker-url"/>

<f:security.ifAuthenticated>
    <f:then>
        <input type="hidden" id="setting-is-auth"/>
    </f:then>
</f:security.ifAuthenticated>




<f:section name="HeaderAssets">
    <link
        rel="stylesheet"
        href="{f:uri.resource(path: 'Contrib/Css/ol.css', extensionName: 'slub_web_kartenforum')}"
    />
    <link
        rel="stylesheet"
        href="{f:uri.resource(path: 'Build/plugin-map.css', extensionName: 'slub_web_kartenforum')}"
    />
    <script
        type="text/javascript"
        src="{f:uri.resource(path: 'Contrib/JavaScript/glif.min.js', extensionName: 'slub_web_kartenforum')}"
    ></script>
    <script
        type="text/javascript"
        src="{f:uri.resource(path: 'Build/plugin-map.js', extensionName: 'slub_web_kartenforum')}"
    ></script>
</f:section>

<f:section name="FooterAssets">
    <script type="text/javascript">
        vk2.SettingsProvider.appendSettings({
            API_SEARCH:
                document.getElementById("setting-urlSearch").value,
                    API_GEOREFERENCE_BASEURL: document.getElementById("setting-georefApi").value,
            BASEMAPS: JSON.parse(
                document.getElementById("setting-basemaps").value
            ),
            FALLBACK_THUMBNAIL:
            document.getElementById("settings-layer-fallback").value,
            FALLBACK_NOT_FOUND:
            document.getElementById("settings-fallback-not-found").value,
            ICON_SPRITE:
            document.getElementById("settings-icon-sprite").value,
            LANGUAGE_CODE: "<f:translate key='global.language_code' extensionName='SlubWebKartenforum' />",
            LINK_TO_GEOREFERENCE:
                document.getElementById("setting-is-auth") !== null
                    ? "/georeferenzierung"
                    : undefined,
            MAPVIEW_PARAMS: JSON.parse(
                document.getElementById("setting-mapView").value
            ),
            MARKER_URL:document.getElementById("settings-marker-url").value,
            NOMINATIM_URL: document.getElementById("setting-urlNominatim")
                .value,
            TERRAIN_TILES: JSON.parse(
                document.getElementById("setting-terrain").value
            ),
            USER_ISAUTHENTICATED: document.getElementById("setting-is-auth") !== null,
            });

        vk2.SettingsProvider.appendSettings({
            dictionary: Object.assign(
                {},
                vk2.SettingsProvider.getSettings().dictionary,
                {
                    "originalview-title":
                        "<f:translate key='plugin.map.originalview.title' extensionName='SlubWebKartenforum' />",
                    "mosaic-badge-title":
                        "<f:translate key='plugin.map.originalview.mosaic-badge-title' extensionName='SlubWebKartenforum' />",
                    "originalview-title-mosaic":
                        "<f:translate key='plugin.map.originalview.title-mosaic' extensionName='SlubWebKartenforum' />",
                    "originalview-label-desc":
                        "<f:translate key='plugin.map.originalview.label-desc' extensionName='SlubWebKartenforum' />",
                    "originalview-label-identifier":
                        "<f:translate key='plugin.map.originalview.label-identifier' extensionName='SlubWebKartenforum' />",
                    "originalview-label-scale":
                        "<f:translate key='plugin.map.originalview.label-scale' extensionName='SlubWebKartenforum' />",
                    "originalview-label-services":
                        "<f:translate key='plugin.map.originalview.label-services' extensionName='SlubWebKartenforum' />",
                    "originalview-link-download-label":
                        "<f:translate key='plugin.map.originalview.link-download-label' extensionName='SlubWebKartenforum' />",
                    "originalview-link-slub-label":
                        "<f:translate key='plugin.map.originalview.link-slub-label' extensionName='SlubWebKartenforum' />",

                    // mapsearch
                    "mapsearch-facetedsearch-open":
                        "<f:translate key='plugin.map.mapsearch.facetsearch.open' extensionName='SlubWebKartenforum' />",
                    "mapsearch-facetedsearch-close":
                        "<f:translate key='plugin.map.mapsearch.facetsearch.close' extensionName='SlubWebKartenforum' />",
                    "mapsearch-found-maps":
                        "<f:translate key='plugin.map.mapsearch.foundMaps' extensionName='SlubWebKartenforum' />",
                    "mapsearch-found-no-maps":
                        "<f:translate key='plugin.map.mapsearch.foundNoMaps' extensionName='SlubWebKartenforum' />",
                    "mapsearch-georeference":
                        "<f:translate key='plugin.map.mapsearch.georeference' extensionName='SlubWebKartenforum' />",
                    "mapsearch-time_published":
                        "<f:translate key='plugin.map.mapsearch.time_published' extensionName='SlubWebKartenforum' />",
                    "mapsearch-title":
                        "<f:translate key='plugin.map.mapsearch.title' extensionName='SlubWebKartenforum' />",
                    "mapsearch-sorting":
                        "<f:translate key='plugin.map.mapsearch.sorting' extensionName='SlubWebKartenforum' />",
                    "mapsearch-map_scale":
                        "<f:translate key='plugin.map.mapsearch.map_scale' extensionName='SlubWebKartenforum' />",
                    "mapsearch-listelement-time":
                        "<f:translate key='plugin.map.mapsearchlistelement.time' extensionName='SlubWebKartenforum' />",
                    "mapsearch-listelement-scale":
                        "<f:translate key='plugin.map.mapsearchlistelement.scale' extensionName='SlubWebKartenforum' />",
                    "mapsearch-listelement-type":
                        "<f:translate key='plugin.map.mapsearchlistelement.type' extensionName='SlubWebKartenforum' />",
                    "mapsearch-listelement-no-georef":
                        "<f:translate key='plugin.map.mapsearchlistelement.notGeoref' extensionName='SlubWebKartenforum' />",
                    "mapsearch-listelement-loading":
                        "<f:translate key='plugin.map.mapsearchlistelement.loading' extensionName='SlubWebKartenforum' />",
                    "mapsearch-listelement-unknown":
                        "<f:translate key='plugin.map.mapsearchlistelement.unknown' extensionName='SlubWebKartenforum' />",

                    // geojson add dialog
                    "geojson-adddialog-confirm":
                        "<f:translate key='plugin.map.adddialog.confirm' extensionName='SlubWebKartenforum' />",
                    "geojson-adddialog-cancel":
                        "<f:translate key='plugin.map.adddialog.cancel' extensionName='SlubWebKartenforum' />",
                    "geojson-adddialog-title":
                        "<f:translate key='plugin.map.adddialog.title' extensionName='SlubWebKartenforum' />",
                    "geojson-adddialog-layer-title-label":
                        "<f:translate key='plugin.map.adddialog.layerTitleLabel' extensionName='SlubWebKartenforum' />",
                    "geojson-adddialog-projection-label":
                        "<f:translate key='plugin.map.adddialog.projectionLabel' extensionName='SlubWebKartenforum' />",

                    // dropzone
                    "dropzone-wrong-filetype":
                        "<f:translate key='plugin.map.dropzone.wrongFiletype' extensionName='SlubWebKartenforum' />",
                    "dropzone-drop":
                        "<f:translate key='plugin.map.dropzone.drop' extensionName='SlubWebKartenforum' />",

                    // GeoJson Feature View
                    "geojson-featureview-header-text":
                        "<f:translate key='plugin.map.geojson.featureview-header-text' extensionName='SlubWebKartenforum' />",
                    "geojson-featureview-no-title":
                        "<f:translate key='plugin.map.geojson.featureview-no-title' extensionName='SlubWebKartenforum' />",
                    "geojson-featureview-no-description":
                        "<f:translate key='plugin.map.geojson.featureview-no-description' extensionName='SlubWebKartenforum' />",
                    "geojson-featureview-no-time":
                        "<f:translate key='plugin.map.geojson.featureview-no-time' extensionName='SlubWebKartenforum' />",
                    "geojson-featureview-invalid-time":
                        "<f:translate key='plugin.map.geojson.featureview-invalid-time' extensionName='SlubWebKartenforum' />",
                    "geojson-featureview-metadata":
                        "<f:translate key='plugin.map.geojson.featureView-metadata' extensionName='SlubWebKartenforum' />",
                    "geojson-featureview-description":
                        "<f:translate key='plugin.map.geojson.featureview-description' extensionName='SlubWebKartenforum' />",
                    "geojson-featureview-time":
                        "<f:translate key='plugin.map.geojson.featureview-time' extensionName='SlubWebKartenforum' />",
                    "geojson-featureview-title":
                        "<f:translate key='plugin.map.geojson.featureview-title' extensionName='SlubWebKartenforum' />",


                    // geojson feature edit
                    "geojson-editview-intro-text":
                        "<f:translate key='plugin.map.geojson.editview-intro-text' extensionName='SlubWebKartenforum' />",
                    "geojson-editview-header-text":
                        "<f:translate key='plugin.map.geojson.editview-header-text' extensionName='SlubWebKartenforum' />",
                    "geojson-featureview-delete-btn":
                        "<f:translate key='plugin.map.geojson.editfeature-delete-btn' extensionName='SlubWebKartenforum' />",
                    "geojson-featureview-image-title":
                        "<f:translate key='plugin.map.geojson.editfeature-image-title' extensionName='SlubWebKartenforum' />",
                    "geojson-editfeature-danger-zone-title":
                        "<f:translate key='plugin.map.geojson.editfeature-danger-zone-header' extensionName='SlubWebKartenforum' />",
                    "geojson-editfeature-add-new-field-button":
                        "<f:translate key='plugin.map.geojson.editfeature-add-new-field-btn' extensionName='SlubWebKartenforum' />",
                    "geojson-editfeature-label-placeholder":
                        "<f:translate key='plugin.map.geojson.editfeature-label-placeholder' extensionName='SlubWebKartenforum' />",
                    "geojson-editfeature-input-placeholder":
                        "<f:translate key='plugin.map.geojson.editfeature-input-placeholder' extensionName='SlubWebKartenforum' />",
                    "geojson-editfeature-input-placeholder-date":
                        "<f:translate key='plugin.map.geojson.editfeature-input-placeholder-date' extensionName='SlubWebKartenforum' />",
                    "geojson-featureview-delete-field-btn":
                        "<f:translate key='plugin.map.geojson.editfeature-delete-field-btn' extensionName='SlubWebKartenforum' />",
                    "geojson-editfeature-style-header":
                        "<f:translate key='plugin.map.geojson.editfeature-style-header' extensionName='SlubWebKartenforum' />",



                    // GeoJson Feature Edit Delete Modal
                    "geojson-deletemodal-delete-btn":
                        "<f:translate key='plugin.map.geojson.deletemodal-delete-btn' extensionName='SlubWebKartenforum' />",
                    "geojson-deletemodal-body":
                        "<f:translate key='plugin.map.geojson.deletemodal-body' extensionName='SlubWebKartenforum' />",

                    // geojson feature edit image fallback
                    "geojson-image-fallback-p":
                        "<f:translate key='plugin.map.geojson.img-fallback-p' extensionName='SlubWebKartenforum' />",

                    // geojson
                    "geojson-cancel-btn":
                        "<f:translate key='plugin.map.geojson.cancel-btn' extensionName='SlubWebKartenforum' />",
                    "geojson-apply-btn":
                        "<f:translate key='plugin.map.geojson.apply-btn' extensionName='SlubWebKartenforum' />",
                    "geojson-save-btn":
                        "<f:translate key='plugin.map.geojson.save-btn' extensionName='SlubWebKartenforum' />",
                    "geojson-draw-version-conflict":
                        "<f:translate key='plugin.map.geojson.error-messages.version-conflict' extensionName='SlubWebKartenforum' />",

                    // GeoJson Metadata Panel
                    "geojson-metadata-panel-header-create":
                        "<f:translate key='plugin.map.geojson.metadatapanel.header.create' extensionName='SlubWebKartenforum' />",
                    "geojson-metadata-panel-header-edit":
                        "<f:translate key='plugin.map.geojson.metadatapanel.header.edit' extensionName='SlubWebKartenforum' />",
                    "geojson-metadata-panel-header-history":
                        "<f:translate key='plugin.map.geojson.metadatapanel.header.history' extensionName='SlubWebKartenforum' />",
                    "geojson-metadata-panel-intro-create":
                        "<f:translate key='plugin.map.geojson.metadatapanel.intro.create' extensionName='SlubWebKartenforum' />",
                    "geojson-metadata-panel-intro-edit":
                        "<f:translate key='plugin.map.geojson.metadatapanel.intro.edit' extensionName='SlubWebKartenforum' />",
                    "geojson-metadata-panel-intro-history":
                        "<f:translate key='plugin.map.geojson.metadatapanel.intro.history' extensionName='SlubWebKartenforum' />",
                    "geojson-metadata-panel-delete":
                        "<f:translate key='plugin.map.geojson.metadatapanel.delete' extensionName='SlubWebKartenforum' />",
                    "geojson-metadata-panel-delete-btn":
                        "<f:translate key='plugin.map.geojson.metadatapanel.delete-btn' extensionName='SlubWebKartenforum' />",

                    // GeoJson Metadata Fields
                    "geojson-metadata-title":
                    "<f:translate key='plugin.map.geojson.metadata.title' extensionName='SlubWebKartenforum' />",
                    "geojson-metadata-description":
                    "<f:translate key='plugin.map.geojson.metadata.description' extensionName='SlubWebKartenforum' />",
                    "geojson-metadata-thumbnailUrl":
                    "<f:translate key='plugin.map.geojson.metadata.thumbnail_url' extensionName='SlubWebKartenforum' />",

                    // GeoJson Metadata Placeholders
                    "geojson-placeholder-title":
                    "<f:translate key='plugin.map.geojson.placeholders.title' extensionName='SlubWebKartenforum' />",
                    "geojson-placeholder-description":
                    "<f:translate key='plugin.map.geojson.placeholders.description' extensionName='SlubWebKartenforum' />",
                    "geojson-placeholder-thumbnailUrl":
                    "<f:translate key='plugin.map.geojson.placeholders.thumbnail_url' extensionName='SlubWebKartenforum' />",


                    // mapwrapper
                    "mapwrapper-geojson-parse-error":
                        "<f:translate key='plugin.map.mapwrapper.parseError' extensionName='SlubWebKartenforum' />",
                    "mapwrapper-mount-layer-error":
                        "<f:translate key='plugin.map.mapwrapper.mountLayerError' extensionName='SlubWebKartenforum' />",

                    // facets
                    "facet-ae":
                        "<f:translate key='plugin.map.facetedsearch.titleAE' extensionName='SlubWebKartenforum' />",
                    "facet-ak":
                        "<f:translate key='plugin.map.facetedsearch.titleAK' extensionName='SlubWebKartenforum' />",
                    "facet-cm":
                        "<f:translate key='plugin.map.facetedsearch.titleCM' extensionName='SlubWebKartenforum' />",
                    "facet-gl":
                        "<f:translate key='plugin.map.facetedsearch.titleGL' extensionName='SlubWebKartenforum' />",
                    "facet-mb":
                        "<f:translate key='plugin.map.facetedsearch.titleMB' extensionName='SlubWebKartenforum' />",
                    "facet-mtb":
                        "<f:translate key='plugin.map.facetedsearch.titleMTB' extensionName='SlubWebKartenforum' />",
                    "facet-tk":
                        "<f:translate key='plugin.map.facetedsearch.titleTK' extensionName='SlubWebKartenforum' />",
                    "facet-tkx":
                        "<f:translate key='plugin.map.facetedsearch.titleTKX' extensionName='SlubWebKartenforum' />",
                    "facet-mm":
                        "<f:translate key='plugin.map.facetedsearch.titleMM' extensionName='SlubWebKartenforum' />",

                    // layer management
                    "layermanagement-create-vector-map": "<f:translate key='plugin.map.layermanagement.vectorMapActions.create' extensionName='SlubWebKartenforum' />",
                    "layermanagement-add-vector-map": "<f:translate key='plugin.map.layermanagement.vectorMapActions.add' extensionName='SlubWebKartenforum' />",
                    "layermanagement-show-map":
                        "<f:translate key='plugin.map.layermanagement.showMap' extensionName='SlubWebKartenforum' />",
                    "layermanagement-remove-map":
                        "<f:translate key='plugin.map.layermanagement.removeMap' extensionName='SlubWebKartenforum' />",
                    "layermanagement-move-top":
                        "<f:translate key='plugin.map.layermanagement.moveToTop' extensionName='SlubWebKartenforum' />",
                    "layermanagement-zoom-to-map":
                        "<f:translate key='plugin.map.layermanagement.zoomToMap' extensionName='SlubWebKartenforum' />",
                    "layermanagement-show-original":
                        "<f:translate key='plugin.map.layermanagement.showOriginal' extensionName='SlubWebKartenforum' />",
                    "layermanagement-show-geojson":
                        "<f:translate key='plugin.map.layermanagement.showGeoJson' extensionName='SlubWebKartenforum' />",
                    "layermanagement-start-msg-header":
                        "<f:translate key='plugin.map.layermanagement.startMessageHeader' extensionName='SlubWebKartenforum' />",
                    "layermanagement-start-msg-body":
                        "<f:translate key='plugin.map.layermanagement.startMessageBody' extensionName='SlubWebKartenforum' />",
                    "layermanagement-header-lbl":
                        "<f:translate key='plugin.map.layermanagement.headerLbl' extensionName='SlubWebKartenforum' />",
                    "layermanagement-deactivate-all-maps":
                        "<f:translate key='plugin.map.layermanagement.deactivateAll' extensionName='SlubWebKartenforum' />",
                    "layermanagement-activate-all-maps":
                        "<f:translate key='plugin.map.layermanagement.activateAll' extensionName='SlubWebKartenforum' />",
                    "layermanagement-timestamp":
                        "<f:translate key='plugin.map.layermanagement.timestamp' extensionName='SlubWebKartenforum' />",
                    "layermangement-georef-update":
                        "<f:translate key='plugin.map.layermanagement.georefUpdate' extensionName='SlubWebKartenforum' />",
                    "layermanagement-export-geojson":
                        "<f:translate key='plugin.map.layermanagement.export' extensionName='SlubWebKartenforum' />",
                    "layermanagement-filter-geojson-features":
                        "<f:translate key='plugin.map.layermanagement.filterGeoJsonFeatures' extensionName='SlubWebKartenforum' />",



                    // dynamic map vis
                    "dynamicmapvis-open":
                        "<f:translate key='plugin.map.dynamicmapvis.open' extensionName='SlubWebKartenforum' />",
                    "dynamicmapvis-close":
                        "<f:translate key='plugin.map.dynamicmapvis.close' extensionName='SlubWebKartenforum' />",
                    "dynamicmapvis-start":
                        "<f:translate key='plugin.map.dynamicmapvis.start' extensionName='SlubWebKartenforum' />",
                    "dynamicmapvis-stop":
                        "<f:translate key='plugin.map.dynamicmapvis.stop' extensionName='SlubWebKartenforum' />",

                    // persistence controller
                    "persistencecontroller-error-operational-layers":
                        "<f:translate key='plugin.map.persistencecontroller.errorOperationalLayers' extensionName='SlubWebKartenforum' />",
                    "persistencecontroller-error-persistence-object":
                        "<f:translate key='plugin.map.persistencecontroller.errorPersistenceObject' extensionName='SlubWebKartenforum' />",
                    "persistencecontroller-error-single-map":
                        "<f:translate key='plugin.map.persistencecontroller.errorSingleMap' extensionName='SlubWebKartenforum' />",
                    "persistencecontroller-deprecated-3d-map-view":
                        "<f:translate key='plugin.map.persistencecontroller.deprecated3dMapView' extensionName='SlubWebKartenforum' />",

                    // timeslider
                    "timeslider-adjust-timeperiod":
                        "<f:translate key='plugin.map.timeslider.adjustTimePeriod' extensionName='SlubWebKartenforum' />",

                    // map > GeoJsonLayerPanel
                    "geojsonlayerpanel-header-title":
                        "<f:translate key='plugin.map.geojsonlayerpanel.header.title' extensionName='SlubWebKartenforum' />",
                    "geojsonlayerpanel-no-features":
                        "<f:translate key='plugin.map.geojsonlayerpanel.nofeatures' extensionName='SlubWebKartenforum' />",
                    "geojsonlayerpanel-timefilter-title":
                        "<f:translate key='plugin.map.geojsonlayerpanel.timefilter.title' extensionName='SlubWebKartenforum' />",
                    "geojsonlayerpanel-fulltext-placeholder":
                    "<f:translate key='plugin.map.geojsonlayerpanel.fullText.placeholder' extensionName='SlubWebKartenforum' />",

                    // map > GeoJsonControlBar
                    "geojson-control-bar-edit":
                        "<f:translate key='plugin.map.geojsoncontrolbar.header.edit' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-metadata-btn-title":
                        "<f:translate key='plugin.map.geojsoncontrolbar.button.metadata.title' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-history-btn-title":
                        "<f:translate key='plugin.map.geojsoncontrolbar.button.history.title' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-permissions-btn-title":
                        "<f:translate key='plugin.map.geojsoncontrolbar.button.permissions.title' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-hint-add-feature":
                        "<f:translate key='plugin.map.geojsoncontrolbar.add-feature' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-hint-add-title":
                        "<f:translate key='plugin.map.geojsoncontrolbar.add-title' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-no-features":
                        "<f:translate key='plugin.map.geojsoncontrolbar.no-features' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-hint-features-present":
                        "<f:translate key='plugin.map.geojsoncontrolbar.features-present' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-new":
                        "<f:translate key='plugin.map.geojsoncontrolbar.new' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-deleted":
                        "<f:translate key='plugin.map.geojsoncontrolbar.deleted' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-changed":
                        "<f:translate key='plugin.map.geojsoncontrolbar.changed' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-new-plural":
                        "<f:translate key='plugin.map.geojsoncontrolbar.new.plural' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-deleted-plural":
                        "<f:translate key='plugin.map.geojsoncontrolbar.deleted.plural' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-changed-plural":
                        "<f:translate key='plugin.map.geojsoncontrolbar.changed.plural' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-feature":
                        "<f:translate key='plugin.map.geojsoncontrolbar.feature' extensionName='SlubWebKartenforum' />",
                    "geojson-control-bar-feature-plural":
                        "<f:translate key='plugin.map.geojsoncontrolbar.feature.plural' extensionName='SlubWebKartenforum' />",

                }
            ),
        });

        // Render map plugin
        if (vk2 !== undefined) {
            vk2.renderApp(document.getElementById("vkf-app-map"));
        }
    </script>
</f:section>


<f:security.ifHasRole role="vk2-editor">
    <f:then>
        <script>
            vk2.SettingsProvider.appendSettings({
                USER_ROLE: "vk2-editor"
            })
        </script>
    </f:then>
</f:security.ifHasRole>


<f:security.ifHasRole role="vk2-admin">
    <f:then>
      <script>
          vk2.SettingsProvider.appendSettings({
              USER_ROLE: "vk2-admin"
          })
      </script>
    </f:then>
</f:security.ifHasRole>

<div class="map-plugin-container">
    <div id="vkf-app-map"></div>
</div>
</html>
