<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:vk="http://typo3.org/ns/Slub/SlubWebKartenforum/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<input type="hidden" value="{urlOsmMaps}" id="setting-urlOsmMaps"/>
<input type="hidden" value="{urlSearch}" id="setting-urlSearch"/>
<input type="hidden" value="{basemapsConfig}" id="setting-basemapsConfig"/>
<f:security.ifAuthenticated>
    <f:then>
        <input type="hidden" id="setting-is-auth"/>
    </f:then>
</f:security.ifAuthenticated>

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Contrib/Css/ol.css', extensionName: 'slub_web_kartenforum')}" />
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/plugin-map.css', extensionName: 'slub_web_kartenforum')}" />
    <script type="text/javascript" src="{f:uri.resource(path: 'Contrib/JavaScript/glif.min.js', extensionName: 'slub_web_kartenforum')}"></script>
    <script type="text/javascript" src="https://cesium.com/downloads/cesiumjs/releases/1.85/Build/Cesium/Cesium.js"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/plugin-map.js', extensionName: 'slub_web_kartenforum')}"></script>
</f:section>

<f:section name="FooterAssets">
    <script type="text/javascript">
        const WITH_SPEAKING_URLS = true;
        // update settings from typo3 flexform parameters
        vk2.SettingsProvider.appendSettings({
            "API_SEARCH": document.getElementById("setting-urlSearch").value,
            "BASEMAP_CONFIG": JSON.parse(document.getElementById("setting-basemapsConfig").value),
            "LINK_TO_GEOREFERENCE": document.getElementById("setting-is-auth") !== null ? "/georeferenzierung" : undefined,
            "ELASTICSEARCH_NODE": "https://kartenforum.slub-dresden.de/spatialdocuments",
            "ELASTICSEARCH_SRS": "EPSG:4326",
            "MAIN_PAGE": "{$config.baseUrl}",
            "MAPVIEW_PARAMS": {
                projection: "EPSG:3857",
                minResolution: 1.194328566789627,
                maxResolution: 2445.9849047851562,
                extent:
                    [-20026376.39,-20048966.10,20026375.39,20048966.10],
                center: [1528150, 6630500],
                zoom: 2
            },
            "MODE_3D": 1 === 1 ? true : false,
            "NOMINATIM_URL": "https://kartenforum.slub-dresden.de/nominatim/",
            "OSM_URLS": document.getElementById("setting-urlOsmMaps").value.split(","),
            "TERRAIN_TILES_URL": "https://api.maptiler.com/tiles/terrain-quantized-mesh/?key=kRAKrA0wcbZZFOT64bX5",
            "THUMB_PATH":"/typo3conf/ext/slub_web_kartenforum/Resources/Public/Images/layer_default.png",
            "TMS_URL_SUBDOMAINS": [ "1", "2", "3" ],
            "WITH_SPEAKING_URLS": WITH_SPEAKING_URLS,
            "WMS_DYNAMIC_TEMPLATE": "https://kartenforum.slub-dresden.de/ows/dynamic-ows"
        });

        vk2.SettingsProvider.appendSettings({
            dictionary: Object.assign(
                {},
                vk2.SettingsProvider.getSettings().dictionary,
                {
                    "originalview-title": "<f:translate key='plugin.map.originalview.title' extensionName='SlubWebKartenforum' />",
                    "originalview-label-desc": "<f:translate key='plugin.map.originalview.label-desc' extensionName='SlubWebKartenforum' />",
                    "originalview-label-identifier": "<f:translate key='plugin.map.originalview.label-identifier' extensionName='SlubWebKartenforum' />",
                    "originalview-label-scale": "<f:translate key='plugin.map.originalview.label-scale' extensionName='SlubWebKartenforum' />",
                    "originalview-label-keywords": "<f:translate key='plugin.map.originalview.label-keywords' extensionName='SlubWebKartenforum' />",
                    "originalview-label-services": "<f:translate key='plugin.map.originalview.label-services' extensionName='SlubWebKartenforum' />",
                    "originalview-link-download-label": "<f:translate key='plugin.map.originalview.link-download-label' extensionName='SlubWebKartenforum' />",
                    "originalview-link-slub-label": "<f:translate key='plugin.map.originalview.link-slub-label' extensionName='SlubWebKartenforum' />",
                    "time": "<f:translate key='client.time' extensionName='SlubWebKartenforum' />",
                    "timestamp": "<f:translate key='client.timestamp' extensionName='SlubWebKartenforum' />",
                    "deactivatemap-all": "<f:translate key='client.deactivemap.deactiveAll' extensionName='SlubWebKartenforum' />",
                    "activatemap-all": "<f:translate key='client.deactivemap.activeAll' extensionName='SlubWebKartenforum' />",
                    "dynamicmapvis-open": "<f:translate key='client.dynamicmapvis.open' extensionName='SlubWebKartenforum' />",
                    "dynamicmapvis-close": "<f:translate key='client.dynamicmapvis.close' extensionName='SlubWebKartenforum' />",
                    "dynamicmapvis-start": "<f:translate key='client.dynamicmapvis.start' extensionName='SlubWebKartenforum' />",
                    "dynamicmapvis-stop": "<f:translate key='client.dynamicmapvis.stop' extensionName='SlubWebKartenforum' />",
                    "layerspy-title": "<f:translate key='client.layerspy.title' extensionName='SlubWebKartenforum' />",
                    "mouseposition-title": "<f:translate key='client.mouseposition.title' extensionName='SlubWebKartenforum' />",
                    "restoredefaultview-title": "<f:translate key='client.restoredefaultview.title' extensionName='SlubWebKartenforum' />",
                    "rotatenorth-title": "<f:translate key='client.roatenorth.title' extensionName='SlubWebKartenforum' />",
                    "factory-scale": "<f:translate key='client.factory.scale' extensionName='SlubWebKartenforum' />",
                    "factory-no-georef": "<f:translate key='client.factory.notGeoref' extensionName='SlubWebKartenforum' />",
                    "factory-show-map": "<f:translate key='client.factory.showMap' extensionName='SlubWebKartenforum' />",
                    "factory-rm-map": "<f:translate key='client.factory.removeMap' extensionName='SlubWebKartenforum' />",
                    "factory-move-top": "<f:translate key='client.factory.moveToTop' extensionName='SlubWebKartenforum' />",
                    "factory-update-georef": "<f:translate key='client.factory.updateGeoref' extensionName='SlubWebKartenforum' />",
                    "factory-zoom-to-map": "<f:translate key='client.factory.zoomToMap' extensionName='SlubWebKartenforum' />",
                    "factory-show-original": "<f:translate key='client.factory.showOriginal' extensionName='SlubWebKartenforum' />",
                    "facetedsearch-open": "<f:translate key='client.mapsearchmodule.facetsearch.open' extensionName='SlubWebKartenforum' />",
                    "facetedsearch-close": "<f:translate key='client.mapsearchmodule.facetsearch.close' extensionName='SlubWebKartenforum' />",
                    "flipviewmode-title": "<f:translate key='client.flipviewmode.title' extensionName='SlubWebKartenforum' />",
                    "flipviewmode-zoomin": "<f:translate key='client.flipviewmode.zoomin' extensionName='SlubWebKartenforum' />",
                    "mapsearch-found-maps": "<f:translate key='client.mapsearchmodule.foundMaps' extensionName='SlubWebKartenforum' />",
                    "mapsearch-found-no-maps": "<f:translate key='client.mapsearchmodule.foundNoMaps' extensionName='SlubWebKartenforum' />",
                    "mapsearch-georeference": "<f:translate key='client.mapsearchmodule.georeference' extensionName='SlubWebKartenforum' />",
                    "mapsearch-time": "<f:translate key='client.mapsearchmodule.time' extensionName='SlubWebKartenforum' />",
                    "mapsearch-time_published": "<f:translate key='client.mapsearchmodule.time' extensionName='SlubWebKartenforum' />",
                    "mapsearch-title": "<f:translate key='client.mapsearchmodule.title' extensionName='SlubWebKartenforum' />",
                    "facet-ae": "<f:translate key='client.facetedsearch.titleAE' extensionName='SlubWebKartenforum' />",
                    "facet-ak": "<f:translate key='client.facetedsearch.titleAK' extensionName='SlubWebKartenforum' />",
                    "facet-cm": "<f:translate key='client.facetedsearch.titleCM' extensionName='SlubWebKartenforum' />",
                    "facet-gl": "<f:translate key='client.facetedsearch.titleGL' extensionName='SlubWebKartenforum' />",
                    "facet-mb": "<f:translate key='client.facetedsearch.titleMB' extensionName='SlubWebKartenforum' />",
                    "facet-mtb": "<f:translate key='client.facetedsearch.titleMTB' extensionName='SlubWebKartenforum' />",
                    "facet-tk": "<f:translate key='client.facetedsearch.titleTK' extensionName='SlubWebKartenforum' />",
                    "facet-tkx": "<f:translate key='client.facetedsearch.titleTKX' extensionName='SlubWebKartenforum' />",
                    "layermanagement-start-msg": "<f:translate key='client.layermanagementmodule.startMessage' extensionName='SlubWebKartenforum' />",
                    "layermanagement-header-lbl": "<f:translate key='client.layermanagementmodule.headerLbl' extensionName='SlubWebKartenforum' />",
                    "gazetteer-placeholder": "<f:translate key='client.gazetteer.placeholder' extensionName='SlubWebKartenforum' />",
                    "gazetteer-submit": "<f:translate key='client.gazetteer.submit' extensionName='SlubWebKartenforum' />",
                    "timeslider-adjust-timeperiod": "<f:translate key='client.timeslidertool.changeTimeperiod' extensionName='SlubWebKartenforum' />",
                    "georef-update": "<f:translate key='georef.update' extensionName='SlubWebKartenforum' />",
                }
            )
        });

        console.log(document.getElementById("setting-basemapsConfig").value)


        // Render map plugin
        if(vk2 !== undefined){
            vk2.renderApp(
                document.getElementById("vkf-app-map")
            );
        }
    </script>
</f:section>

<div class="container main-page content-container">
    <div id="vkf-app-map"></div>
</div>

</html>
