<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vk="http://typo3.org/ns/Slub/SlubWebKartenforum/ViewHelpers"
    data-namespace-typo3-fluid="true"
    lang="en"
>
    <input type="hidden" value="{georefApi}" id="setting-georefApi" />
    <input type="hidden"
           value="{f:uri.resource(path: 'EXT:slub_web_kartenforum/Resources/Public/Images/layer_default.png')}"
           id="settings-layer-fallback"/>
    <f:security.ifAuthenticated>
        <f:then>
            <input type="hidden" id="setting-is-auth" />
        </f:then>
    </f:security.ifAuthenticated>

    <f:section name="HeaderAssets">
        <link
            rel="stylesheet"
            href="{f:uri.resource(path: 'Contrib/Css/bootstrap-3.3.7.min.css', extensionName: 'slub_web_kartenforum')}"
        />
        <link
            rel="stylesheet"
            href="{f:uri.resource(path: 'Build/plugin-upload-map.css', extensionName: 'slub_web_kartenforum')}"
        />
        <script
            type="text/javascript"
            src="{f:uri.resource(path: 'Build/plugin-upload-map.js', extensionName: 'slub_web_kartenforum')}"
        ></script>
    </f:section>

    <f:section name="FooterAssets">
        <script type="text/javascript">
            vk2.SettingsProvider.appendSettings({
                API_GEOREFERENCE_BASEURL:
                    document.getElementById("setting-georefApi").value,
                FALLBACK_THUMBNAIL: document.getElementById("settings-layer-fallback").value,
                USERNAME: "<vk:username field='username'/>",
            });

            vk2.SettingsProvider.appendSettings({
                dictionary: Object.assign(
                    {},
                    vk2.SettingsProvider.getSettings().dictionary,
                    {
                        // plugin upload common errors
                        "common-errors-http-401":
                            "<f:translate key='plugin.upload.common.errors.http.401' extensionName='SlubWebKartenforum' />",
                        "common-errors-http-403":
                            "<f:translate key='plugin.upload.common.errors.http.403' extensionName='SlubWebKartenforum' />",
                        "common-errors-unexpected":
                            "<f:translate key='plugin.upload.common.errors.unexpected' extensionName='SlubWebKartenforum' />",

                        // plugin upload searchmapview
                        "searchmap-title":
                            "<f:translate key='plugin.upload.searchmap.title' extensionName='SlubWebKartenforum' />",
                        "searchmap-subtitle":
                            "<f:translate key='plugin.upload.searchmap.subtitle' extensionName='SlubWebKartenforum' />",
                        "searchmap-placeholder":
                            "<f:translate key='plugin.upload.searchmap.placeholder' extensionName='SlubWebKartenforum' />",
                        "searchmap-upload-button":
                            "<f:translate key='plugin.upload.searchmap.upload-button' extensionName='SlubWebKartenforum' />",
                        "searchmap-errors-http-400":
                            "<f:translate key='plugin.upload.searchmap.errors.http.400' extensionName='SlubWebKartenforum' />",

                        // plugin upload uploadmapview
                        "uploadmap-title":
                            "<f:translate key='plugin.upload.uploadmap.title' extensionName='SlubWebKartenforum' />",
                        "uploadmap-title-update":
                            "<f:translate key='plugin.upload.uploadmap.title-update' extensionName='SlubWebKartenforum' />",
                        "uploadmap-upload-file":
                            "<f:translate key='plugin.upload.uploadmap.upload-file' extensionName='SlubWebKartenforum' />",
                        "uploadmap-delete-btn":
                            "<f:translate key='plugin.upload.uploadmap.delete-btn' extensionName='SlubWebKartenforum' />",
                        "uploadmap-georef-btn":
                            "<f:translate key='plugin.upload.uploadmap.georef-btn' extensionName='SlubWebKartenforum' />",
                        "uploadmap-save-btn":
                            "<f:translate key='plugin.upload.uploadmap.save-btn' extensionName='SlubWebKartenforum' />",
                        "uploadmap-save-btn-disabled-title":
                            "<f:translate key='plugin.upload.uploadmap.save-btn-disabled-title' extensionName='SlubWebKartenforum' />",
                        "uploadmap-li1":
                            "<f:translate key='plugin.upload.uploadmap.no-results-li1' extensionName='SlubWebKartenforum' />",
                        "uploadmap-li2":
                            "<f:translate key='plugin.upload.uploadmap.no-results-li2' extensionName='SlubWebKartenforum' />",
                        "uploadmap-li3":
                            "<f:translate key='plugin.upload.uploadmap.no-results-li3' extensionName='SlubWebKartenforum' />",
                        "uploadmap-p":
                            "<f:translate key='plugin.upload.uploadmap.no-results-p' extensionName='SlubWebKartenforum' />",
                        "uploadmap-success":
                            "<f:translate key='plugin.upload.uploadmap.success-upload' extensionName='SlubWebKartenforum' />",
                        "uploadfile-label":
                            "<f:translate key='plugin.upload.uploadfile.label' extensionName='SlubWebKartenforum' />",
                        "deletemodal-delete-btn":
                            "<f:translate key='plugin.upload.uploadmap.deletedialog.delete-btn' extensionName='SlubWebKartenforum' />",
                        "deletemodal-cancel-btn":
                            "<f:translate key='plugin.upload.uploadmap.deletedialog.cancel-btn' extensionName='SlubWebKartenforum' />",
                        "deletemodal-body":
                            "<f:translate key='plugin.upload.uploadmap.deletedialog.body' extensionName='SlubWebKartenforum' />",
                        "uploadmap-errors-refresh-http-400":
                            "<f:translate key='plugin.upload.uploadmap.errors.refresh.http.404' extensionName='SlubWebKartenforum' />",
                    }
                ),
            });

            // Render map plugin
            if (vk2 !== undefined) {
                vk2.renderApp(document.getElementById("vkf-app-upload"));
            }
        </script>
    </f:section>

    <div id="vkf-app-upload"></div>
</html>
