<!-- user header -->
<div class="header">
    <a class="navbar-brand" href="#">Virtuelles Kartenforum 3.0</a>
    <div class="navigation-links-container">
        <f:render partial="Navigation/Elements/HeaderItem" arguments="{_all}" />
        <f:render partial="Navigation/Elements/UserDropdown" arguments="{_all}" />
        <f:render section="LanguageSwitch" partial="LanguageSwitch" arguments="{_all}" />
    </div>


    <!-- language switcher -->

    <!-- switcher to 2.5d mode -->
<!--    <ul class="switch-view-mode mode-2d">-->
<!--        <li id="switch-view-mode-container">-->
<!--        </li>-->
<!--    </ul>-->


</div>
