<f:section name="LanguageSwitch">
    <f:if condition="{menuLanguage}">
        <ul id="language_menu" class="langswitch">
            <f:for each="{menuLanguage}" as="item">
                <li class="{f:if(condition: item.active, then: 'active')} {f:if(condition: item.available, else: 'text-muted')}">
                    <f:switch expression="{item.languageUid}">
                        <f:case value="1">
                            <f:variable name="languageTitle">English</f:variable>
                            <f:variable name="hreflang">en-GB</f:variable>
                        </f:case>
                        <f:defaultCase>
                            <f:variable name="languageTitle">Deutsch</f:variable>
                            <f:variable name="hreflang">de-DE</f:variable>
                        </f:defaultCase>
                    </f:switch>
                    <f:if condition="{item.available}">
                        <f:then>
                            <a href="{item.link}" hreflang="{hreflang}" title="{languageTitle}">
                                <span class="language_switcher switch_{hreflang}">{languageTitle}</span>
                            </a>
                        </f:then>
                        <f:else>
                            <span class="language_switcher switch_{hreflang}" title="{languageTitle}">{languageTitle}</span>
                        </f:else>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>
