<script>
    var lang_dictionary = {
        "back-to-main": "<f:translate key='client.backToMain' extensionName='SlubWebKartenforum' />",
		"go-to-georef": "<f:translate key='client.goToGeoref' extensionName='SlubWebKartenforum' />",
		"go-to-org": "<f:translate key='client.goToOrg' extensionName='SlubWebKartenforum' />",
		"no": "<f:translate key='client.no' extensionName='SlubWebKartenforum' />",
		"points": "<f:translate key='client.points' extensionName='SlubWebKartenforum' />",
		"timestamp": "<f:translate key='client.timestamp' extensionName='SlubWebKartenforum' />",
		"yes": "<f:translate key='client.yes' extensionName='SlubWebKartenforum' />",
		"deactivatemap-all": "<f:translate key='client.deactivemap.deactiveAll' extensionName='SlubWebKartenforum' />",
		"activatemap-all": "<f:translate key='client.deactivemap.activeAll' extensionName='SlubWebKartenforum' />",
		"dynamicmapvis-open": "<f:translate key='client.dynamicmapvis.open' extensionName='SlubWebKartenforum' />",
		"dynamicmapvis-close": "<f:translate key='client.dynamicmapvis.close' extensionName='SlubWebKartenforum' />",
		"dynamicmapvis-start": "<f:translate key='client.dynamicmapvis.start' extensionName='SlubWebKartenforum' />",
		"dynamicmapvis-stop": "<f:translate key='client.dynamicmapvis.stop' extensionName='SlubWebKartenforum' />",
		"evaluation-isvalide": "<f:translate key='client.evaluation.btnIsValid' extensionName='SlubWebKartenforum' />",
		"evaluation-showmap": "<f:translate key='client.evaluation.btnShowMap' extensionName='SlubWebKartenforum' />",
		"evaluation-gotoprocess": "<f:translate key='client.evaluation.btnGoToProcess' extensionName='SlubWebKartenforum' />",
		"evaluation-isinvalide": "<f:translate key='client.evaluation.btnSetIsInvalid' extensionName='SlubWebKartenforum' />",
		"imagemanipulation-open": "<f:translate key='client.imagemanipulation.open' extensionName='SlubWebKartenforum' />",
		"imagemanipulation-hue": "<f:translate key='client.imagemanipulation.hue' extensionName='SlubWebKartenforum' />",
		"imagemanipulation-saturation": "<f:translate key='client.imagemanipulation.saturation' extensionName='SlubWebKartenforum' />",
		"imagemanipulation-contrast": "<f:translate key='client.imagemanipulation.contrast' extensionName='SlubWebKartenforum' />",
		"imagemanipulation-brightness": "<f:translate key='client.imagemanipulation.brightness' extensionName='SlubWebKartenforum' />",
		"imagemanipulation-reset": "<f:translate key='client.imagemanipulation.reset' extensionName='SlubWebKartenforum' />",
		"layerspy-title": "<f:translate key='client.layerspy.title' extensionName='SlubWebKartenforum' />",
		"mouseposition-title": "<f:translate key='client.mouseposition.title' extensionName='SlubWebKartenforum' />",
		"permalink-title": "<f:translate key='client.permalink.title' extensionName='SlubWebKartenforum' />",
		"permalink-msg": "<f:translate key='client.permalink.msg' extensionName='SlubWebKartenforum' />",
		"rotatenorth-title": "<f:translate key='client.roatenorth.title' extensionName='SlubWebKartenforum' />",
		"factory-scale": "<f:translate key='client.factory.scale' extensionName='SlubWebKartenforum' />",
		"factory-no-georef": "<f:translate key='client.factory.notGeoref' extensionName='SlubWebKartenforum' />",
		"factory-show-map": "<f:translate key='client.factory.showMap' extensionName='SlubWebKartenforum' />",
		"factory-rm-map": "<f:translate key='client.factory.removeMap' extensionName='SlubWebKartenforum' />",
		"factory-move-top": "<f:translate key='client.factory.moveToTop' extensionName='SlubWebKartenforum' />",
		"factory-update-georef": "<f:translate key='client.factory.updateGeoref' extensionName='SlubWebKartenforum' />",
		"facetedsearch-open": "<f:translate key='client.mapsearchmodule.facetsearch.open' extensionName='SlubWebKartenforum' />",
		"facetedsearch-close": "<f:translate key='client.mapsearchmodule.facetsearch.close' extensionName='SlubWebKartenforum' />",
		"flipviewmode-title": "<f:translate key='client.flipviewmode.title' extensionName='SlubWebKartenforum' />",
		"flipviewmode-zoomin": "<f:translate key='client.flipviewmode.zoomin' extensionName='SlubWebKartenforum' />",
		"georef-search-field": "<f:translate key='client.georeferencechoose.searchField' extensionName='SlubWebKartenforum' />",
		"georef-choose-goToGeoreference": "<f:translate key='client.georeferencechoose.goToGeoreference' extensionName='SlubWebKartenforum' />",
		"georef-movemap": "<f:translate key='client.georeference.moveMap' extensionName='SlubWebKartenforum' />",
		"georef-setgcp": "<f:translate key='client.georeference.setGcp' extensionName='SlubWebKartenforum' />",
		"georef-movegcp": "<f:translate key='client.georeference.moveGcp' extensionName='SlubWebKartenforum' />",
		"georef-delgcp": "<f:translate key='client.georeference.deleteGcp' extensionName='SlubWebKartenforum' />",
		"georef-drawclip": "<f:translate key='client.georeference.drawClip' extensionName='SlubWebKartenforum' />",
		"georef-validate": "<f:translate key='client.georeference.validate' extensionName='SlubWebKartenforum' />",
		"georef-confirm": "<f:translate key='client.georeference.confirm' extensionName='SlubWebKartenforum' />",
		"georef-confirm-clip-title": "<f:translate key='client.georeference.confirmWithoutClipTitle' extensionName='SlubWebKartenforum' />",
		"georef-confirm-clip-msg": "<f:translate key='client.georeference.confirmWithoutClipMsg' extensionName='SlubWebKartenforum' />",
		"georef-confirm-warn-gcp": "<f:translate key='client.georeference.warnMissingGCPs' extensionName='SlubWebKartenforum' />",
		"georef-confirm-warn-clippolygon": "<f:translate key='client.georeference.warnWrongClipPolygon' extensionName='SlubWebKartenforum' />",
		"mapsearch-found-maps": "<f:translate key='client.mapsearchmodule.foundMaps' extensionName='SlubWebKartenforum' />",
		"mapsearch-found-no-maps": "<f:translate key='client.mapsearchmodule.foundNoMaps' extensionName='SlubWebKartenforum' />",
		"mapsearch-georeference": "<f:translate key='client.mapsearchmodule.georeference' extensionName='SlubWebKartenforum' />",
		"mapsearch-time": "<f:translate key='client.mapsearchmodule.time' extensionName='SlubWebKartenforum' />",
		"mapsearch-title": "<f:translate key='client.mapsearchmodule.title' extensionName='SlubWebKartenforum' />",
		"facet-ae": "<f:translate key='client.facetedsearch.titleAE' extensionName='SlubWebKartenforum' />",
		"facet-ak": "<f:translate key='client.facetedsearch.titleAK' extensionName='SlubWebKartenforum' />",
		"facet-cm": "<f:translate key='client.facetedsearch.titleCM' extensionName='SlubWebKartenforum' />",
		"facet-gl": "<f:translate key='client.facetedsearch.titleGL' extensionName='SlubWebKartenforum' />",
		"facet-mb": "<f:translate key='client.facetedsearch.titleMB' extensionName='SlubWebKartenforum' />",
		"facet-mtb": "<f:translate key='client.facetedsearch.titleMTB' extensionName='SlubWebKartenforum' />",
		"facet-tk": "<f:translate key='client.facetedsearch.titleTK' extensionName='SlubWebKartenforum' />",
		"facet-tkx": "<f:translate key='client.facetedsearch.titleTKX' extensionName='SlubWebKartenforum' />",
		"layermanagement-start-msg": "<f:translate key='client.layermanagementmodule.startMessage' extensionName='SlubWebKartenforum' />",
		"layermanagement-header-lbl": "<f:translate key='client.layermanagementmodule.headerLbl' extensionName='SlubWebKartenforum' />",
		"gazetteer-placeholder": "<f:translate key='client.gazetteer.placeholder' extensionName='SlubWebKartenforum' />",
		"gazetteer-submit": "<f:translate key='client.gazetteer.submit' extensionName='SlubWebKartenforum' />",
		"metadata-keyword": "<f:translate key='client.metadatabinding.keyword' extensionName='SlubWebKartenforum' />",
		"metadata-online-res": "<f:translate key='client.metadatabinding.onlineResource' extensionName='SlubWebKartenforum' />",
		"metadata-spatial-res": "<f:translate key='client.metadatabinding.spatialResolution' extensionName='SlubWebKartenforum' />",
		"metadata-unqiue-id": "<f:translate key='client.metadatabinding.uniqueId' extensionName='SlubWebKartenforum' />",
		"timeslider-adjust-timeperiod": "<f:translate key='client.timeslidertool.changeTimeperiod' extensionName='SlubWebKartenforum' />",
		"georef-history-processId": "<f:translate key='georeferencehistory.page.processId' extensionName='SlubWebKartenforum' />",
		"georef-history-isValidated": "<f:translate key='georeferencehistory.page.isValidated' extensionName='SlubWebKartenforum' />",
		"georef-history-mapId": "<f:translate key='georeferencehistory.page.mapId' extensionName='SlubWebKartenforum' />",
		"georef-history-mapSheetInfo": "<f:translate key='georeferencehistory.page.mapSheetInfo' extensionName='SlubWebKartenforum' />",
		"georef-history-georefParams": "<f:translate key='georeferencehistory.page.georefParams' extensionName='SlubWebKartenforum' />",
		"georef-history-persistentAccess": "<f:translate key='georeferencehistory.page.persistentAccess' extensionName='SlubWebKartenforum' />",
		"georef-history-beingGenerated": "<f:translate key='georeferencehistory.page.beingGenerated' extensionName='SlubWebKartenforum' />",
    };
</script>
