{namespace vk=Slub\SlubWebKartenforum\ViewHelpers}
<div class="container main-page content-container">
    <div id="vk2MapPanel" class="vk2MapPanel">

        <!-- map container -->
        <div id="app-container" class="olMap" tabindex="0"></div>
        <!-- /end map container -->
        </div>

        <!-- spatial search div -->
        <div class="spatialsearch-container" id="spatialsearch-container">

            <!-- navbar -->
            <div class="vk2HeaderNavBar" role="navigation">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="vk2-navbar-header">
                    <a class="navbar-brand" href="#">Virtuelles Kartenforum 2.0</a>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <ul class="nav nav-pills">
                        <li class="dropdown info-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Informationen">Informationen<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <f:render partial="Navigation/Elements/Item" arguments="{_all}" />
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end spatial search -->
        </div>

        <f:link.page pageUid="{settings.welcomePage}" data="{classes:'welcomeBox'}" class="vk2-modal-anchor" id="welcome-page-link"></f:link.page>
    </div>
</div>


<!-- checks if the vk2.app.PresentationApp / vk2.utils module is already loaded -->
<script>
    // render Application
    if(vk2 !== undefined){
        console.log("render app")
        vk2.renderApp(document.getElementById("app-container"));
    }
</script>

<!-- load application specific code -->
<script>
</script>
