{namespace vk=Slub\SlubWebKartenforum\ViewHelpers}

<div class="georeference-validate page-container full-display">
    <!-- Header -->
    <div class="georeference-header-container">
        <h1>
            <span class="vk2georef-brand">VK2-Georeferenzierer</span> Neue
            Georeferenzierung
        </h1>

        <div id="georef-validate-menu" class="georef-validate-menu pull-right">
            <div class="dropdown projection-chooser" style="display:none;">
                <select id="projection-chooser" class="form-control">
                    <option>EPSG:4314</option>
                    <option>EPSG:4326</option>
                    <option>EPSG:3043</option>
                </select>
            </div>
            <div class="transformation-chooser">
                <a data-classes="faq" class="vk2-modal-anchor" title="Frequently Asked Questions (FAQ)" href="/vkviewer/static/faq/#georeferencing-of-maps-algorithm">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>
                <div class="dropdown">
                    <select id="transformation-chooser" class="form-control">
                        <option>Affine</option>
                        <option>Polynom</option>
                        <option>TPS</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!-- map content -->
    <div class="row georeference-validate-container">
        <div class="col-sm-6 col-md-6 col-lg-6 outer-map-container">
            <div id="unreferenced-map"
                class="unreferenced-map map-container olMap">
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 outer-map-container">
            <div id="georeferenced-map"
                class="georeferenced-map map-container olMap">
                <div id="opacity-slider-container" class="opacity-slider-container"></div>
            </div>
        </div>
    </div>


    	<!-- checks if the vk2.app.GeoreferenceApp module is already loaded -->
	<script>
		if (window['vk2'] === undefined || window['vk2']['app'] === undefined) {
			goog.require('vk2.app.GeoreferenceApp');
		};
	</script>

	<script>
    	var georeferenceApp = new vk2.app.GeoreferenceApp('unreferenced-map','georeferenced-map');
    </script>
