<div class="georef-chooser container">
    <div>
        <header>
            <hgroup>
                <h1><f:translate key="choosepage.selectMap" extensionName="slubWebKartenforum" /></h1>
                <h2><f:translate key="choosepage.amountUnreferencedMaps" extensionName="slubWebKartenforum" />:
                    <span>{maps.hits.total}</span></h2>
            </hgroup>
        </header>
    </div>

    <f:if condition="{maps.hits.total}">
        <f:then>
            <div class="content-container">
                <ul>
                    <f:for each="{maps.hits.hits}" as="map" iteration="iterator">
                        <li>
                            <div class="container record-container">
                                <div class="image">
                                    <img class="thumbnail" title="" src="{map._source.thumb}" />
                                </div>
                                <div class="body">
                                    <p><strong>{map._source.title}</strong></p>
                                    <p><f:translate key="client.timestamp" extensionName="slubWebKartenforum" />: {map._source.time}</p>
                                    <p><f:translate key="client.mapType" extensionName="slubWebKartenforum" />: {map._source.maptype}</p>
                                </div>

                                <div class="tools">
                                    <f:link.page pageUid="{settings.georefPageId}" additionalParams="{objectid:'{map._id}'}" target="_blank" class="btn btn-primary">
                                    <f:translate key="client.georeferencechoose.goToGeoreference" extensionName="slubWebKartenforum" />
                                    </f:link.page>
                                </div>
                            </div>
                        </li>
                    </f:for>
                </ul>
            </div>
        </f:then>
    </f:if>

</div>
