<f:if condition="{map.found}">
    <f:then>
        <div class="map-profile-page">
            <div class="container">
                <div class="row header">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        <h1>{map._source.title}</h1>
                        <h3>{map._source.titlelong}</h3>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <div class="btn-group-vertical header-btn">
                            <f:link.external uri="{map._source.plink}" class="btn btn-default" target="_blank">
                                <f:translate key="client.metadatabinding.gotoFotothek" />
                            </f:link.external>
                        </div>
                    </div>
                </div>
                <div class="row metadata" id="metadata-container">
                    <div class="container">
                        <div class="row-metadata">
                            <div class="col-md-8 col-lg-8 metdata-col">
                                <div class="description">
                                    <h3>{map._source.description}</h3>
                                </div>
                                <div class="metadata-content-row">
                                    <div class="label"><f:translate key="client.metadatabinding.keyword" /></div>
                                    <div>{map._source.keywords}</div>
                                </div>
                                <f:for each="{map._source.online-resources}" as="online-resource">
                                    <div class="metadata-content-row">
                                        <div class="label"><f:translate key="client.metadatabinding.onlineResource" /></div>
                                        <div>
                                            <f:link.external uri="{online-resource.url}" target="_blank">{online-resource.url}</f:link.external>
                                        </div>
                                    </div>
                                </f:for>
                                <div class="metadata-content-row">
                                    <div class="label"><f:translate key="client.metadatabinding.spatialResolution" /></div>
                                    <div>
                                        <span><f:format.raw>1:{map._source.denominator}</f:format.raw></span>
                                    </div>
                                </div>
                                <span class="unique-id metadata-content-row">
                                    <div class="label"><f:translate key="client.metadatabinding.uniqueId" /></div>
                                    <div><f:format.raw>{map._id}</f:format.raw></div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row map">
                    <div class="original-view">
                        <div class="container">
                            <div class="zoomify-container unreferenced-map olMap"
                                id="zoomify-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- checks if the vk2.app.MapProfileApp module is already loaded -->
        <script>
            if (window['vk2'] === undefined || window['vk2']['app'] === undefined) {
                goog.require('vk2.app.MapProfileApp');
            };
        </script>

        <script>
            var mapProfileApp = new vk2.app.MapProfileApp({
                    'feature': '<f:format.json>{map._source}</f:format.json>',
                    'zoomifyContainer' : 'zoomify-container'
            });
        </script>

    </f:then>
    <f:else>
        <h1>{map._id} not found</h1>
    </f:else>
</f:if>
