.mapsearch-container{ height: auto; background: transparent; }
.mapsearch-container .panel{ background: transparent; border-radius: 0; border: 0 none; box-shadow: none; }
.mapsearch-container .panel-heading { position: relative; border-radius: 0; border: 0 none; background: #eee; padding: 5px 10px; }
.mapsearch-container .panel-heading:after { position: absolute; bottom: -5px; right: 10px; width: 0; height: 0; content: ""; border: 5px solid transparent; border-bottom-width: 0; border-top-color: #eee; z-index: 300; }
.mapsearch-container .panel-heading .content { height: 20px; }
.mapsearch-container .panel-heading .content > div { position: relative; float: left; }
.mapsearch-container .panel-heading .content > a { float: right; margin-right: -7px; cursor: pointer; width: 24px; height: 24px; display: block; overflow: hidden; white-space: nowrap; text-indent: 100%; transform: scale(1); -webkit-transition: transform 0.3s ease-out; -moz-transition: transform 0.3s ease-out; -o-transition: transform 0.3s ease-out; -ms-transition: transform 0.3s ease-out; transition: transform 0.3s ease-out; background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij48Zz48ZWxsaXBzZSBzdHJva2U9IiNCMkIyQjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBjeD0iOC42NSIgY3k9IjMuNDUiIHJ4PSI2LjY1IiByeT0iMi40NSIgZmlsbD0ibm9uZSIvPjxwYXRoIHN0cm9rZT0iI0IyQjJCMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0yIDMuNDV2MS43NWMwIC43Ny40NDYgMS44NDYuOTkgMi4zOWw0LjYxIDQuNjFNMTUuMyAzLjQ1djEuNzVjMCAuNzctLjQ0NiAxLjg0Ni0uOTkgMi4zOWwtNC42MSA0LjYxTTkuNyAxMi4ydjQuMmMwIC4zODUtLjMxNC43LS43LjdoLS43Yy0uMzg1IDAtLjctLjMxNS0uNy0uN3YtNC4yTTkuNyAxMy42NzRjLjYwNC4zOTQgMS4zMjUuNjI2IDIuMS42MjYgMi4xMjYgMCAzLjg1LTEuNzI0IDMuODUtMy44NSAwLTEuMTUyLS41MDktMi4xODMtMS4zMTEtMi44ODkiIGZpbGw9Im5vbmUiLz48L2c+PC9zdmc+') no-repeat center center; }
.mapsearch-container .panel-heading .content > a:hover { transform: scale(1.2); }
.mapsearch-container .panel-heading .search-facet { height: 0; margin: 0 -10px; width: 290px; overflow: hidden; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; -ms-transition: all 0.4s ease-out; transition: all 0.4s ease-out; display: block; }
.mapsearch-container.facetedsearch-open .panel-heading .search-facet { height: 180px; }
.mapsearch-container .panel-heading .search-facet > label { margin-left: 0px; padding: 2px 10px 2px 30px; display: block; border-bottom: 1px solid #fff; font-weight: bold; font-size: 12px; }
.mapsearch-container .panel-heading .search-facet > label:hover { background: #d8d8d8; }
.mapsearch-container .panel-heading .search-facet > label:last-child { border-bottom: 0 none; }

/** 
	list styling 
*/
.mapsearch-container .panel-body { padding: 0px; }
.mapsearch-list{ height: auto; }

/** list heading */
.mapsearch-list .list-header { position: relative; background: #ccc; padding: 4px; }
.mapsearch-list .list-header:after { position: relative; clear: both; display: table; content: ""; }
.mapsearch-list .list-header:before { position: absolute; bottom: -5px; right: 10px; width: 0; height: 0; content: ""; border: 5px solid transparent; border-bottom-width: 0; border-top-color: #ccc; z-index: 301; }
.mapsearch-list .list-header .inner-col{ position: relative; float: left; padding: 5px; margin-left: 5px;	margin-right: 5px; font-size: 11px;	font-weight: 500; }
.mapsearch-list .list-header .sort-element { cursor: pointer; color: #888; }
.mapsearch-list .list-header .caret { border: 4px solid transparent; border-top-color: #888; border-bottom-width: 0; }
.mapsearch-list .list-header .descending .caret { border-top: 0 none; border-bottom: 4px solid rgb(56,92,92); }
.mapsearch-list .list-header .ascending .caret { border-top-color: rgb(56,92,92); }
.mapsearch-list .list-header .descending, .mapsearch-list .list-header .ascending { color: rgb(56,92,92); }
.mapsearch-list .list-header .inner-col.georeference{ display: none; }

/** list record */
.mapsearch-list > ul { padding: 0px; overflow: auto; position: absolute; top: 208px; bottom: 20px; left: 15px; right: 15px; border: 1px solid #ccc;-webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; -ms-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.facetedsearch-open .mapsearch-list > ul { top: 388px; }
.mapsearch-list .mapsearch-record { list-style: none; height: 100px; }
.mapsearch-list .mapsearch-record .data-col { display: none; }
.mapsearch-list .mapsearch-record .view-item { padding: 10px; }
.mapsearch-list .mapsearch-record .thumbnail { position: relative; float: left; width: 80px; height: 80px; border: 1px solid #ccc;
	border-radius: 0; padding: 2px; }
.mapsearch-list .mapsearch-record .thumbnail img { 	height: 100%; width: 100%; }
.mapsearch-record { cursor: pointer; }
.mapsearch-record:nth-child(odd) { background-color: #f5f5f5; }
.mapsearch-record:hover { background-color: #eee; }
.mapsearch-list .mapsearch-record .view-item .overview { position: relative; float: left; padding-left: 15px;
	width: 170px; font-size: 12px; line-height: 1.3; }
.mapsearch-list .mapsearch-record .view-item .overview h2 { margin-top: 10px; font-size: 13px; word-wrap: break-word;
	text-transform: uppercase; margin-bottom: 4px; }